<!DOCTYPE html>
<html ng-app="IkonosApp">
    <head>
        <title>Ikonos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <style>
            .container {
                max-width: 1000px;
            }
        </style>
    </head>
    <body ng-controller="EnquiryController">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                    <h1>Contact Us</h1>
                    <form role="form" ng-submit="submitEnquiry()">
                        <div class="form-group">
                            <input type="text" ng-model="email" name="email" class="form-control" id="email-box" placeholder="Email" style="max-width: 300px;" autofocus required>
                            <br>
                            <input type="text" ng-model="firstName" name="first-name" class="form-control" id="first-name-box" placeholder="First Name" style="max-width: 300px;" required>
                            <br>
                            <input type="text" ng-model="lastName" name="last-name" class="form-control" id="last-name-box" placeholder="Last Name" style="max-width: 300px;" required>
                            <br>
                            <input type="text" ng-model="message" name="msg" class="form-control" id="msg-box" placeholder="Message" style="max-width: 300px;" required>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    {% for result in results %}
                        <h4>{{ result}}: {{ results[result] }}</h4>
                    {% endfor %}
                    <br>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <div id="enquiryDetails">
                        <table class="table table-striped">
                            <tbody>
                            {% raw %}
                                <tr ng-repeat="(key, val) in enquiryDetails">
                                    <td>{{key}}</td>
                                    <td>{{val}}</td>
                                </tr>
                            {% endraw %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>
